<div class="production-metrics">
  <div class="header">
    <h2>Production metrics</h2>
  </div>

  <ng-container *ngIf="generateGraph; else noData">
    <div class="chart-container">
      <app-line-chart
        [data]="graphData"
        [size]="[1500, 340]"
        [showLegend]="true"
        [timeline]="true"
        [showGrid]="true"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="'Date'"
        [yAxisLabel]="'Accuracy'"
      ></app-line-chart>
    </div>
  </ng-container>

  <ng-template #noData>
    <div class="no-data">
      <h3 class="message">Not enough data available for this graph.</h3>
    </div>
  </ng-template>
</div>
