.production-metrics {
  margin: 20px;
}

.header {
  margin-bottom: 20px;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 12px -1px rgba(0,0,0,0.67);
  -moz-box-shadow: 2px 3px 12px -1px rgba(0,0,0,0.67);
  box-shadow: 2px 3px 12px -1px rgba(0,0,0,0.67);
}

.no-data {
  margin-top: 20px;
}

.message {
  font-size: 18px;
}
