<div class="production-metrics">
  <div class="header">
    <h2>Metrics of today</h2>
  </div>

  <ng-container *ngIf="generateGraph; else noData">
    <div class="charts">
      <div class="chart-container">

        <app-number-card-chart
          [title]="'Predictions'"
          [data]="predictionsGraphData"
          [size]="[450, 130]"
        ></app-number-card-chart>

        <app-number-card-chart
          [title]="'Metrics'"
          [data]="metricsGraphData"
          [size]="[850, 130]"
        ></app-number-card-chart>

      </div>
    </div>
  </ng-container>

  <ng-template #noData>
    <div class="no-data">
      <h3 class="message">No predictions were made today.</h3>
    </div>
  </ng-template>
</div>
