.page {
  padding: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 20px;
}

ul {
  margin-top: 10px;
}

li {
  list-style: none;
  margin-bottom: 5px;
}

.page-content {
  width: 100%;
}
